#hero-func {
    background: url('../img/trinity_bomb.jpg');
    background-position: center;
    background-size: cover;
}

#section-hero-func .section-text-container {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    width: 100%;
    padding: 30px 0;
}

#section-hero-func .section-text-container {
    margin: auto;
}

#section-hero-func .section-content {
    height: 100%;
    padding: 60px 0;
}

#section-hero-func .section-content .section-text-container {
    height: 100%;
}

#section-hero-func .section-text-container h2, #section-hero-func .section-text-container h3, #section-hero-func .section-text-container p {
    margin: 35px auto;
    color: #fff;
    border-radius: 15px;
    background: #44444499;
}

#section-hero-func .section-text-container h2 {
    font-size: 40px;
    width: 80%;
    text-align: center;
}

#section-hero-func .section-text-container h3 {
    font-size: 25px;
    text-align: center;
}

#section-hero-func .section-text-container p {
    font-size: 18px;
    text-align: justify;
}

.media-container.image-container {
    width: 50%;
}

.section-text-container.section-with-image {
    width: 50%;
}

#section-2-func {
    background: #283b4e;
    padding: 50px 0;
}

#section-3-func {
    background: #ee6f57;
    color: #ffffff;
}

#section-3-func .section-text-container {
    width: 100%;
}

#section-3-func .section-text-container h2 {
    text-align: justify;
}

#section-4-func {
    background: #ee6f57;
}

#section-5-func {
    background: #ee6f57;
    color: #ffffff;
}

#section-5-func .section-text-container p {
    color: #ffffff;
}

#section-6-func .section-text-container {
    width: 100%;
}

#section-6-func .section-text-container h2 {
    text-align: justify;
}

#section-7-func .section-text-container h2 {
    text-align: center;
}

#section-6-func .section-text-container h2, #section-6-func .section-text-container h3, #section-6-func .section-text-container p, #section-7-func .section-text-container h2, #section-7-func .section-text-container h3, #section-7-func .section-text-container a, #section-7-func .section-text-container p {
    color: #000000;
}

#section-8-func {
    background: #283b4e;
}

@media (max-width: 700px) {
    #section-5-func i {
        font-size: 180px;
    }
    #section-2-func .section-text-container p {
        width: 90%;
        text-align: justify;
        margin: 30px 15px;
    }
    #section-hero-func .section-text-container {
        margin: 0 auto;
        width: 100%;
    }
    #section-hero-func .section-text-container h2 {
        margin: 35px;
    }
    #section-hero-func .section-text-container h3 {
        margin: 35px;
        font-size: 20px;
    }
    #section-hero-func .section-text-container p {
        color: #ffffff;
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 17px;
    }
    .media-container.image-container {
        width: 85%;
    }
    .section-text-container h2 {
        text-align: center;
    }
    #section-3-func .section-text-container h2 {
        text-align: start;
    }
}