@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;800&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import "nav-bar-styles.css";
@import "quote-styles.css";
@import "timeline-styles.css";
@import "section-styles.css";
@import "button-styles.css";
@import "index-sections.css";
@import "func-sections.css";
@import "sgm-sections.css";
/* Se eliminan los estilos predefinidos mas importantes, se le da la fuente de texto a toda la pagina y se pone el scroll-behavior:smooth para
que el efecto de los botones y anclas que te dirigen a un id en la misma pagina tenga un efecto suave de movimiento */

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Se le da un color casi blanco a la pagina */

body {
    background: #f6f5f5;
}

/* Se le dan los estilos a los hr (que son los divisores) */

hr {
    margin: auto;
    width: 80%;
    border: 0;
    height: 1px;
}
.hr-white{
    background: #ffffff;
}
.hr-grey{
    background: #333333;
}
.hr-container-red-bg{
    background: #ee6f57;
}
.hr-container-blue-bg{
    background: #283b4e;
}
.hr-container-white-bg{
    background: #f6f5f5;
}
/* Se le dan unos estilos basicos a los <a> que son levemente modificados en cada uno de ellos */

a {
    font-weight: 800;
    color: #ffffff;
}