@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;800&display=swap');
/* Elimina los estilos predefinidos mas importantes */

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* Le quita el text decoration y le da color negro a todos los <a> */

a {
    text-decoration: none;
    color: #000000;
}

/* Se le dan las propiedades al nav-bar */

#nav-bar {
    background: transparent;
    /* background: #222831; */
    display: flex;
    padding: 30px 0px;
    width: 100%;
    z-index: 100;
}

/* Se le da display flex a la ul de el nav-bar para que los li sean flexibles, margin auto
para centrarla y width 100 % para que cubra todo el ancho de la pantalla */

#nav-bar__ul {
    display: flex;
    margin: auto;
    width: 100%;
}

/* Se le dan propiedades al div contenedor del logo de la nav-bar */

#nav-bar-logo {
    position: relative;
    /* bottom: 10px; */
    display: flex;
    height: 80%;
    width: 50px;
    margin: 0 30px;
}

/* Se le da un width de 100 % al logo para que ocupe todo el espacio de su caja contenedora*/

#nav-bar-logo img {
    width: 100%;
}

/* Se le dan las propiedades a los li de la ul de el nav-bar, la position: relative es para que no haya problema con el sub-menu */

.nav-bar__li {
    display: inline-block;
    position: relative;
    padding: 7px;
    margin: 0 30px;
}

/* Se le dan las propiedades a las anclas, el transition para que el hover sea suave  */

.nav-bar__li a {
    transition: all 0.6s;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 0;
}

/* Se le da un color blanco a el texto de los submenus de el li "bombas" */

.submenus-container .nav-bar__li a {
    color: #ffffff;
}

/* Se le dan propiedades a los <i> (los iconos), estas propiedades son las mismas que les de los <a> de los li*/

.nav-bar__li i {
    transition: all .6s;
    color: #333;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}


.sub-menu {
    display: block;
}

.nav-bar__li:hover>a, .nav-bar__li:hover>i {
    color: #ffffff;
}

.submenus-container .nav-bar__li:hover>a {
    color: #333333;
}

/* Style the subnav content - positioned absolute */

.submenus-container {
    display: none;
    position: absolute;
    background: #00000088;
    width: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Al poner el mause sobre el .li-with-subnav, se muestra el sub menu */

.div-with-subnav:hover .submenus-container, .div-with-subnav:hover>a {
    display: block;
}

.disabled {
    cursor: not-allowed;
}

.disabled:hover>a {
    color: #333333;
}

.section {
    display: flex;
    width: 100%;
    color: #ffffff;
    padding: 30px 0;
}

.section-content {
    margin: auto;
    max-width: 980px;
    display: flex;
}

.section-text-container {
    display: inline-block;
    font-weight: 700;
    width: 66%;
}

.section-text-container h2 {
    font-weight: 800;
    font-size: 36px;
}

.section-text-container h3 {
    font-weight: 500;
    text-align: justify;
    font-size: 18px;
}

.section-text-container p {
    font-weight: 300;
    color: #dedede;
    font-size: 15px;
    text-align: justify;
}

#section-1 .section-text-container {
    display: inline-block;
    font-weight: 700;
    width: 100%;
    padding: 30px 0;
}

#section-1 .section-content {
    height: 100%;
}

#section-1 .section-content .section-text-container {
    height: 100%;
}

#section-1 .section-text-container h2, #section-1 .section-text-container h3, #section-1 .section-text-container p {
    margin: 35px 0;
}

#section-1 .section-text-container h2 {
    font-size: 40px;
}

#section-1 .section-text-container h3 {
    font-size: 25px;
}

#section-1 .section-text-container p {
    font-size: 18px;
}

.section-text-container h2, .section-text-container h3, .section-text-container p {
    margin: 35px;
}

.icon-container {
    width: 33%;
    margin: auto;
}

.icon-container i {
    font-size: 240px;
}

#hero {
    background: url("https://upload.wikimedia.org/wikipedia/commons/0/09/Operation_Crossroads_Baker_Edit.jpg");
    background-position: center;
    background-size: cover;
}

#section-1 .section-text-container {
    margin: auto;
}

#section-2 {
    background: #ee6f57;
}

#section-3 {
    background: #f6f5f5;
    color: #000;
}

#section-3 .section-text-container p, #section-5 .section-text-container p {
    color: #333;
}

#section-4 {
    background: #f5a25d;
}

#section-5 {
    background: #9ddfd3;
    color: #000000;
}

.timeline-container {
    background: #c22f2f;
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-title {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.timeline-title-container h2 {
    padding: 30px;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content h3, .content h4, .content p {
    margin: 10px 0;
}

.content h3 {
    font-size: 28px;
}

.content h4 {
    font-size: 22px;
}

.content p {
    font-size: 18px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

.left {
    left: 0;
}

/* Place the container to the right */

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    transition: all 1s;
    opacity: .4;
    padding: 20px 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
}

.content:hover {
    opacity: 1;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #ffffff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (max-width: 700px) {
    .section-content {
        display: block;
    }
    .section-text-container h2, .section-text-container h3, .section-content p {
        display: block;
    }
    .icon-container {
        padding: 30px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .section-text-container {
        margin: 0 auto;
        width: 100%;
    }
    #section-5 i {
        font-size: 180px;
    }
    #nav-bar, .nav-bar__li, #nav-bar__ul {
        display: block;
    }
    .nav-bar__li {
        text-align: center;
        padding: 15px;
    }
    #nav-bar-logo {
        margin: 15px auto;
    }
}